


body
  margin 0px
  text-align center
  background-color black
  font-family monospace
  color white

body.hilight
  background-color white

a, a:visited, a:active, h1 a
  text-decoration none
  color white

h1
  font-size 25pt
  margin 5px

.state
  color white
  margin 0 auto
  // border 1px solid white
  ul
    padding 0px
  li
    list-style-type none

.wrap
  width 400px
  margin 0 auto

img
  margin-top 1em

.buttons
  margin-top 1em
  a
    border-radius 50px
    border 5px inset red
    margin-bottom 5px
    display block
    font-size 20pt
    padding-top 0.9em
    padding-bottom 0.9em

    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    background-color:#fe1a00;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:3px solid #d83526;
    color:#ffffff;
    font-family:arial;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 4px 0px #b23e35;
    &:hover
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
      background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
      background-color:#ce0100;

@media screen and (max-width: 500px)
  .wrap
    width 100%

